@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #333333;
    --card: #ffffff;
    --card-foreground: #e5e5e5;
    --popover: #ffffff;
    --popover-foreground: #e5e5e5;
    --primary: #353535;
    --primary-foreground: #111111;
    --secondary: #f2f2f2;
    --secondary-foreground: #353535;
    --muted: #f2f2f2;
    --muted-foreground: #747474;
    --accent: #f2f2f2;
    --accent-foreground: #353535;
    --destructive: #ff4d4d;
    --destructive-foreground: #f5f5f5;
    --border: #d0d0d0;
    --input: #d0d0d0;
    --ring: #e5e5e5;
    --radius: 0.5rem;
    --chart-1: #f2c9c9;
    --chart-2: #a3d5a8;
    --chart-3: #c3d9e4;
    --chart-4: #e0c7e3;
    --chart-5: #f3e2b7;
  }

  .dark {
    --background: #1e1e1e;
    --foreground: #d0d0d0;
    --card: #1e1e1e;
    --card-foreground: #d0d0d0;
    --popover: #1e1e1e;
    --popover-foreground: #d0d0d0;
    --primary: #d0d0d0;
    --primary-foreground: #353535;
    --secondary: #343434;
    --secondary-foreground: #d0d0d0;
    --muted: #343434;
    --muted-foreground: #b2b2b2;
    --accent: #343434;
    --accent-foreground: #d0d0d0;
    --destructive: #ff9a9a;
    --destructive-foreground: #d0d0d0;
    --border: #343434;
    --input: #343434;
    --ring: #d0d0d0;
    --chart-1: #b2b2b2;
    --chart-2: #a4a4a4;
    --chart-3: #4d4d4d;
    --chart-4: #8a4b8a;
    --chart-5: #b85c8c;
  }

  .section {
    margin-bottom: 4rem; /* 섹션 사이의 여백을 증가시킵니다. */
  }

  .section-border {
    border-bottom: 2px solid var(--border);
    padding-bottom: 1rem;
    margin-bottom: 2rem;
  }
}

@layer base {
  * {
    border-color: var(--border);
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}
